extends layout

include taxon_table

block content
  h3= title
  p Records: #{taxon_list.length} of #{count}

  each item,key in search
    p Search term: #[strong #{key} = #{item}]

  +taxon_table(taxon_list)
