extends layout

block content
  h3= title

  each item,key in search
    p Search term: #[strong #{key} = #{item}]

  ul
    each taxon in taxon_list
      li
        a(href=taxon.taxonId) #{taxon.scientificName} - (#{taxon.taxonId})

    else
      li No matching taxa.
